<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header.html :: header"></div>
<body>
<div th:replace="navbar-auth.html :: navigation-auth"></div>
<div class="contestPhotoUpload_page">
        <div class="input-error-message">
            <img id="error404picture" src="../static/images/404_photography.png"
                 th:src="@{/images/404_photography.png}">
            <h2 th:text="${errorMessage.toString()}" style="color: black; text-align: center">Error message place holder</h2>
    </div>

</div>
</body>
</html>