<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header.html :: header"></div>
<body>
<div  th:replace="navbar-auth.html :: navigation-auth"></div>
    <div class="accessDenied_container">
        <h2>Access Denied</h2>
        <h3 class="error" th:text="${error}">Error placeholder</h3>
    </div>
</body>
</html>