<!DOCTYPE html>
<html lang="en">
<div th:replace="header.html :: header"></div>
<body>
<div th:replace="navbar-auth.html :: navigation-auth"></div>
<div class="contestPhotoUpload_page">
    <div class="joinContest_container">
        <form class="joinContest_form" action="#" th:action="@{/contests/{id}/contestPhotoForm(id=${contest.getId()})}" th:object="${contestPhotoMvcDTO}"
              enctype="multipart/form-data" method="post">
            <div class="joinContestForm_row">
                <h1 th:text="${contest.getTitle()}"></h1>
                <input class="joinContestFormTitle_input" th:field="${contestPhotoMvcDTO.title}" type="text" placeholder="Add photo title...">
                    <label class="error" th:errors="${contestPhotoMvcDTO.title}">Title must be between 2 and 100 characters</label>
            </div>

            <div class="joinContestForm_row">
                <img class="frame_img" src="../static/images/image-frame.png" th:src="@{/images/image-frame.png}"
                     alt="">

                <div class="joinContestFormUpload_container">
                    <label class="photo-label" for="example-user-photo">
                        <i class="fa fa-photo"></i>
                        UPLOAD your contest photo
                    </label>

                    <div hidden="hidden" class="form-group">
                        <input th:field="${contestPhotoMvcDTO.multipartPhoto}" type="file" accept="image/*"
                               class="form-control" id="example-user-photo" name="multipartPhoto"/>
                        <input type="hidden" name="MAX_FILE_SIZE" value="2000000">
                        <label class="error" th:errors="${contestPhotoMvcDTO.multipartPhoto}">Your photo is not
                            ok</label>
                    </div>
                </div>

                <div class="participantImage-preview" id="imagePreview">
                    <img src="" alt="Image Preview" class="participantImage-preview__image">
                </div>
            </div>

            <div class="joinContestForm_row storyInput_container">
                <textarea th:field="${contestPhotoMvcDTO.story}" placeholder="story..." name="" id="" cols="30" rows="10"></textarea>
                    <label class="error" th:errors="${contestPhotoMvcDTO.story}">Title must be between 10 and 2000 characters</label>
                <input onclick="uploadPhoto(event)" class="joinContestForm_btn" type="submit" value="Submit">
            </div>
        </form>

    </div>
</div>

<script>
    const inpFile = document.getElementById("example-user-photo");
    const previewContainer = document.getElementById("imagePreview");
    const previewImage = previewContainer.querySelector(".participantImage-preview__image");

    inpFile.addEventListener("change", function () {
        const file = this.files[0];

        if (file) {
            const reader = new FileReader();

            previewImage.style.display = "block";
            document.querySelector(".joinContestFormUpload_container").classList.add("hide");

            reader.addEventListener("load", function () {
                previewImage.setAttribute("src", this.result);
            })

            reader.readAsDataURL(file);

        } else {
            previewImage.style.display = null;
            previewImage.setAttribute("src", "");
        }

    })
</script>
<script src="../static/scripts/confirm.js" th:src="@{/scripts/confirm.js}"></script>
</body>
</html>

