<!DOCTYPE html>
<html lang="en">
<div th:replace="header.html :: header"></div>
<head>
    <link href="../static/styles/index.css" th:href="@{/styles/index.css}" rel="stylesheet"/>
    <meta property="og:url"                content="http://localhost:8080/public/home" />
    <meta property="og:type"               th:content="@{/contests/{id}(id=${contest.getId()})}" />
    <meta property="og:title"              content="Web Page Title" />
    <meta property="og:description"        content="This is my awesome contest photo!" />
    <meta property="og:image"              th:content="@{/images/logo.png}" />
</head>
<body>
<div  th:replace="navbar-auth.html :: navigation-auth"></div>
<div class="page">
    <div class="contestBanner_container">
        <div class="contestBannerBackground_image"
             style="background-image: url('https://images.unsplash.com/photo-1601236414929-677713b2d078?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1890&q=80')"
             th:style="'background-image:url(' + ${contest.getPhotoUrl()} + ');'"></div>
        <div class="contestBanner_content">
            <h1 class="centeredCategory_name" th:text="${contest.getCategory().getName()}"></h1>
            <h2 th:text="${contest.getTitle()}">The Beautiful nature</h2>
            <h3 class="centeredCategory_name" th:text="${'Phase: ' + phase}">phase</h3>
        </div>
        <div class="contestPage_menu">
            <button id="allParticipants_btn" class="contestPageMenu_button contestPageMenu_button--active">All Participants</button>
            <button th:if="${finished}" id="winners_btn" class="contestPageMenu_button">Winners</button>
            <button id="details_btn" class="contestPageMenu_button">Details</button>
        </div>
    </div>

    <div class="contestPhotos_container" id="all-participants">
        <h2>Contest's photos:</h2>

        <div class="contest_photos">
            <div th:each="photo : ${allPhotos}" class="participantPhoto_container">
                <a th:href="@{/contests/{id}/contestPhoto/{contestPhotoId}(id=${contest.getId()}, contestPhotoId=${photo.getId()})}">
                    <img class="participant_img"
                         src="https://photos.gurushots.com//unsafe/0x0/b495aab425413ba0a45e8b93bf89df3d/3_0975f2c117c345588143c4e5ce62056d.jpg"
                         th:src="${photo.getPhotoUrl()}" alt="">
                </a>
                <div class="participant_info">
                    <a th:href="@{/users/{id}(id=${photo.getUser().getId()})}">
                        <img class="participant_avatar"
                             src="https://photos.gurushots.com/unsafe/100x100/b495aab425413ba0a45e8b93bf89df3d/3_ae930c9654156790da3ee455f5f5c23b.jpg"
                             th:src="${photo.getUser().getUserPhotoUrl()}" alt="">
                    </a>
                    <div class="participant_details">
                        <a th:href="@{/users/{id}(id=${photo.getUser().getId()})}">
                        <p class="names" th:text="${photo.getUser().getFirstName() + ' ' + photo.getUser().getLastName()}">Maria Picasso</p>
                        <p class="username" th:text="${photo.getUser().getUsername()}">username</p>
                        <p class="rank" th:text="${photo.getUser().getRank().getName()}">junky</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${finished}" class="contestPhotos_container hide" id="winners">
        <h2>Winners:</h2>
        <div class="contest_photos">
            <div th:each="photo,iterStat : ${sortedPhotos}"  class="participantPhoto_container">
                <div class="winner_position" th:text="${iterStat.index + 1}">1</div>
                <a th:href="@{/contests/{id}/contestPhoto/{contestPhotoId}(id=${contest.getId()}, contestPhotoId=${photo.getId()})}">
                <img class="participant_img"
                     th:src="${photo.getPhotoUrl()}"
                     alt="">
                </a>
                <div class="participant_info">
                    <img class="participant_avatar"
                         src="https://photos.gurushots.com/unsafe/100x100/b495aab425413ba0a45e8b93bf89df3d/3_ae930c9654156790da3ee455f5f5c23b.jpg"
                         th:src="${photo.getUser().getUserPhotoUrl()}" alt="">

                    <div class="participant_details">
                        <a th:href="@{/users/{id}(id=${photo.getUser().getId()})}">
                        <p class="names" th:text="${photo.getUser().getFirstName() + ' ' + photo.getUser().getLastName()}">Maria Picasso</p>
                        <p class="username" th:text="${photo.getUser().getUsername()}">username</p>
                        <p class="rank" th:text="${photo.getUser().getRank().getName()}">junky</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contestPhotos_container hide" id="details">
        <div class="contest_details">

                <div class="contestDetailsInfo_image">
                    <img src="/static/images/information.png" th:src="@{/images/information.png}" alt="">
                </div>

                <div class="contestDetail_description">
                    <div class="contestDetails_title">
                        <span th:text="${contest.getTitle()}">Title</span>
                        <span>Contest</span>
                    </div>
                    <p class="">Share your best photos! Suited for both amateur photographers and professionals, these photography contests are a great way to showcase your skills and talent! Participating in photography contests is a great way for photographers to get recognition and benchmark their work against peers from around the world.</p>
                </div>
        </div>

        <div class="contestDetail_stats">
            <div class="icon_container">
                <img class="details_icon votes_icon" src="../static/images/votes.png" th:src="@{/images/votes.png}"
                     alt="">
                <p>
                    <span th:text="${votes}">10</span>
                    <span>VOTES</span>
                </p>
            </div>
            <div class="icon_container">
                <img class="details_icon" src="../static/images/sandwatch.png" th:src="@{/images/sandwatch.png}" alt="">
                <p>
                    <span th:text="${contest.getStartDateFormatted()}">Apr 14, 2022</span>
                    <span>STARTS</span>
                </p>
            </div>

            <div class="icon_container">
                <img class="details_icon" src="../static/images/sandwatch.png" th:src="@{/images/sandwatch.png}" alt="">
                <p>
                    <span th:text="${contest.getEndDateFormatted()}">Apr 14, 2022</span>
                    <span>ENDS</span>
                </p>
            </div>

<!--            <div class="icon_container">-->
<!--                <img class="details_icon points_icon" src="../static/images/points.png" th:src="@{/images/points.png}"-->
<!--                     alt="">-->
<!--                <p>-->
<!--                    <span>1900</span>-->
<!--                    <span>IN POINTS</span>-->
<!--                </p>-->
<!--            </div>-->
        </div>
    </div>
</div>

<script src="../static/scripts/contest.js" th:src="@{/scripts/contest.js}"></script>
</body>
</html>