<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header.html :: header"></div>
<body>
<div th:replace="navbar-auth.html :: navigation-auth"></div>
<div class="contestCreationForm_background">
    <div class="createContest_container">
        <h1 class="text-white createContestHeading_style">CREATE CONTEST FORM</h1>
        <form action="#" th:action="@{/contests/creation-form} "
              th:object="${contestMvcDTO}" enctype="multipart/form-data" method="post">
            <div class="titleCategoryStatus_flex">
                <div class="createContestTitle_container">
                    <h2 class="text-white titleMargin_container">Title:</h2>
                    <input type="text" class="form-control contest_form createContestForm_width"
                           placeholder="Type photo title here" name="title"
                           th:field="${contestMvcDTO.title}">
                    <label class="error" th:errors="${contestMvcDTO.title}">Title must be between 10 and 150 symbols</label>
                </div>
                <div class="categoryStatus_container">
                    <div class="createContestRow_container">
                        <h2 class="text-white titleMargin_container">Category:</h2>
                        <select class="selectForm_container" th:field="${contestMvcDTO.categoryId}">
                            <option th:each="category : ${categories}"
                                    th:value="${category.getId()}"
                                    th:text="${category.getName()}">
                                CategoryTest
                            </option>
                        </select>
                    </div>
                    <div class="createContestRow_container">
                        <h2 class="text-white titleMargin_container">Status:</h2>
                        <select id="contestStatus_checkbox" class="selectForm_container" th:field="${contestMvcDTO.statusId}">
                            <option th:each="status : ${statuses}"
                                    th:value="${status.getId()}"
                                    th:text="${status.getName()}">
                                StatusTest
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="invitations" class="addJury_container contestForm_row hide">
                <div class="titleAndJury_container">
                    <h2 class="text-white">Invite users:</h2>
                    <div id="invitedUsers_container"></div>
                </div>
                <input id="userSearch_input" type="text" placeholder="Type username.." class="form-control"
                       onkeyup="showUserResult(this.value)">
                <div class="liveSearchOuter_container">
                    <input type="hidden" id="allInvitedUsersHolder_input" th:field="*{users}">
                    <div class="liveSearch_container" id="usersLiveSearch"></div>
                </div>
            </div>
            <div class="contestForm_row">
                <div class="addJury_container">
                    <div class="titleAndJury_container">
                        <h2 class="text-white">Add jury</h2>
                        <div id="jury_container"></div>
                    </div>
                    <input id="jurySearch_input" type="text" placeholder="Type username.." class="form-control"
                           onkeyup="showJuryResult(this.value)">
                    <div class="liveSearchOuter_container">
                        <input type="hidden" id="allJuryHolder_input" th:field="*{jury}">
                        <div class="liveSearch_container" id="juryLiveSearch"></div>
                    </div>
                </div>
            </div>
            <div class="contestForm_row">
                <h2 class="text-white">Contest phase one duration from now (days):</h2>
                <div class="dateSlider_style">
                    <input class="dateSlider_Size" type="range" min="1" value="1" max="30" step="1"
                           th:field="${contestMvcDTO.deadlinePhaseOne}"
                           oninput="this.nextElementSibling.value = this.value">
                    <output class="text-white">1</output>
                </div>
            </div>
            <div class="contestForm_row">
                <h2 class="text-white">Contest phase two duration from phase one (hours):</h2>
                <div class="dateSlider_style">
                    <input class="dateSlider_Size" type="range" min="1" value="1" max="24" step="1"
                           th:field="${contestMvcDTO.deadlinePhaseTwo}"
                           oninput="this.nextElementSibling.value = this.value">
                    <output class="text-white">1</output>
                </div>
            </div>
            <div class="contestForm_row">
                <h2 class="text-white">You could upload a photo for this contest in three different ways:</h2>
                <div class="createContestRow_container">
                    <h3 class="text-white titleMargin_container ">Paste the URL of an existing photo:</h3>
                    <input type="text" class="form-control contest_form" placeholder="existing photo url"
                           th:field="${contestMvcDTO.photoUrl}">
                </div>
                <div>
                    <h3 class="text-white">Upload a photo from your computer: </h3>
                    <div class="createContestRow_container">
                        <label class="text-white photo-label" for="example-user-photo" style="cursor: pointer">
                            <i class="fa fa-photo"></i>Click here to upload</label>
                        <div class="contest-image-preview square" id="imagePreview">
                            <img src="" alt="Image Preview" class="image-preview__image">
                            <span class="image-preview__default-text">Image preview</span>
                        </div>
                    </div>
                    <div hidden="hidden" class="form-group">
                        <input th:field="${contestMvcDTO.multipartPhoto}" type="file" accept="image/*"
                               class="form-control"
                               id="example-user-photo" name="multipartPhoto"/>
                        <input name="MAX_FILE_SIZE" value="2000000">
                    </div>
                    <div>
                        <h3 class="text-white">Pick a photo from an old contest: </h3>
                        <div class="oldContestPhotos">
                            <div th:each="contest: ${contests}" class="oldContestPhotos_container">
                                <label class="container">
                                    <input type="radio" name="oldPhoto" th:field="${contestMvcDTO.oldContestPhotoUrl}"
                                           th:value="${contest.getPhotoUrl()}"/>
                                    <span class="checkmark"></span>
                                </label>
                                <img src="../static/images/beach.jpg" th:src="${contest.getPhotoUrl()}"
                                     class="contestCover_img square" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input class="button--lightContestFormOrange" type="submit" value="Create contest">
        </form>
    </div>
</div>
<script th:src="@{/scripts/contest-creation.js}"></script>
</body>
</html>