<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<div th:replace="header.html :: header"></div>
<body>
<div th:replace="navbar-auth.html :: navigation-auth"></div>

<div class="home-page">
    <div class="hero-video-container">
        <img src="" th:src="@{/images/contests-bg.jpg}" alt="">
        <div class="heroVideo_content">
            <div class="line_1"> THE WORLD'S GREATEST</div>
            <div class="line_2"> PHOTO CHALLENGES</div>
            <div class="line_3"> Find the matching contest for you here:</div>
            <a href="#all_contests" class="heroVideoContent_button allContestsExplore_button"> Explore</a>
        </div>
    </div>
</div>

    <div id="all_contests" class="allContestsMain_container">
        <div class="contests_filter">
            <div class="filters_header">
                <h3>Filters</h3>
                <a th:href="@{/contests}">Clear all</a>
            </div>
            <form th:object="${contestFilterDto}" action="#" method="post" th th:action="@{/contests}">
                <div class="contestFilter_group">
                    <p>Search for title:</p>
                    <input class="filterTitle_input" type="text" th:field="${contestFilterDto.title}">
                </div>
                <div class="contestFilter_group">
                    <p>Sort by:</p>
                    <label class="contestFilter_checkbox">Newest
                        <input th:checked="${sort.contains('creationDate')}" type="radio" value="creationDate" name="sort">
                        <span class="checkmark"></span>
                    </label>
                    <label class="contestFilter_checkbox">Oldest
                        <input th:checked="${sort.contains('creationDate_desc')}" type="radio" value="creationDate_desc" name="sort">
                        <span class="checkmark"></span>
                    </label>
                    <label class="contestFilter_checkbox">Title (A-Z)
                        <input th:checked="${sort.contains('title')}" type="radio" value="title" name="sort">
                        <span class="checkmark"></span>
                    </label>
                    <label class="contestFilter_checkbox">Title (Z-A)
                        <input th:checked="${sort.contains('title_desc')}" type="radio" value="title_desc" name="sort">
                        <span class="checkmark"></span>
                    </label>
                    <label class="contestFilter_checkbox">Photos uploaded (Ascending)
                        <input th:checked="${sort.contains('photos')}" type="radio" value="photos" th:field="*{sort}">
                        <span class="checkmark"></span>
                    </label>
                    <label class="contestFilter_checkbox">Photos uploaded (Descending)
                        <input th:checked="${sort.contains('photos_desc')}" type="radio" value="photos_desc" th:field="*{sort}">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="contestFilter_group">
                    <p>Choose phase</p>
                    <label class="contestFilter_checkbox">One
                        <input th:checked="${phase.contains('one')}" type="radio" value="one" name="phase">
                        <span class="checkmark"></span>
                    </label>
                    <label class="contestFilter_checkbox">Two
                        <input th:checked="${phase.contains('two')}" type="radio" value="two" name="phase">
                        <span class="checkmark"></span>
                    </label>
                    <label class="contestFilter_checkbox">Finished
                        <input th:checked="${phase.contains('finished')}" type="radio" value="finished" name="phase">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="contestFilter_group">
                    <p>Choose category</p>
                    <div th:each="category : ${categories}">
                        <label class="contestFilter_checkbox">
                            <span th:text="${category.getName()}"></span>
                            <input th:checked="${categoryFilter.contains(category.getName())}" type="radio" th:value="${category.getName()}" th:field="*{category}">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                </div>

                <input class="filter_button" type="submit" value="Filter">
            </form>
        </div>

        <div class="gallery">
            <div class="gallery__column">
                <div th:each="contest : ${contests}" class="gallery__link">
                    <a th:href="@{/contests/{id}(id=${contest.getId()})}">
                        <figure class="gallery__thumb">
                            <img th:src="${contest.getPhotoUrl()}" alt="Portrait by Jessica Felicio" class="gallery__image">
                            <figcaption class="gallery__caption" th:text="${contest.getTitle}">Portrait by Jessica Felicio</figcaption>
                        </figure>
                    </a>
                </div>
            </div>

<!--            <div class="gallery__column">-->
<!--                <div class="gallery__link" th:each="contest : ${secondColumnContests}">-->
<!--                <a th:href="@{/contests/{id}(id=${contest.getId()})}">-->
<!--                    <figure class="gallery__thumb">-->
<!--                        <img th:src="${contest.getPhotoUrl()}" alt="Portrait by Noah Buscher" class="gallery__image">-->
<!--                        <figcaption class="gallery__caption" th:text="${contest.getTitle}">Portrait by Noah Buscher</figcaption>-->
<!--                    </figure>-->
<!--                </a>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="gallery__column">-->
<!--                <div class="gallery__link" th:each="contest : ${thirdColumnContests}">-->
<!--                <a th:href="@{/contests/{id}(id=${contest.getId()})}">-->
<!--                    <figure class="gallery__thumb">-->
<!--                        <img th:src="${contest.getPhotoUrl()}" alt="Portrait by Mari Lezhava" class="gallery__image">-->
<!--                        <figcaption class="gallery__caption" th:text="${contest.getTitle}">Portrait by Mari Lezhava</figcaption>-->
<!--                    </figure>-->
<!--                </a>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="gallery__column">-->
<!--                <div class="gallery__link" th:each="contest : ${forthColumnContests}">-->
<!--                <a th:href="@{/contests/{id}(id=${contest.getId()})}">-->
<!--                    <figure class="gallery__thumb">-->
<!--                        <img th:src="${contest.getPhotoUrl()}" alt="Portrait by Guilian Fremaux" class="gallery__image">-->
<!--                        <figcaption class="gallery__caption" th:text="${contest.getTitle}">Portrait by Guilian Fremaux</figcaption>-->
<!--                    </figure>-->
<!--                </a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>

<script th:src="@{/scripts/contests.js}"></script>
</body>
</html>