<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header.html :: header"></div>
<body class="backgroundContestPhotoPagePhoto_container">
<div th:replace="social_sharing_SDK.html :: social_sharing_SDK"></div>
<div th:replace="navbar-auth.html :: navigation-auth"></div>
<div class="contestPhoto_container ">
    <div class="contestImage_container">
        <h2 class="text-white titleContestPhoto" th:text="${contestPhoto.getTitle()}">Contest Photo</h2>
        <img class="contestPhoto_preview" src="../static/images/fish.jpg" th:src="${contestPhoto.getPhotoUrl()}"
             alt="#">
        <a class="deleteButton_contestPhoto" th:if="${isLoggedUserJury}"  href=""
           th:href="@{__${#httpServletRequest.requestURI}__/delete}">
           delete
        </a>
        <a class="backButton_contestPhoto"  href=""
           th:href="@{/contests/{id}(id=${contestPhoto.getContest().getId()})}">
            Back to the Contest
        </a>
    </div>
    <div class="authorAndReview_container text-white">
        <div class="imageAuthor_details">
            <img class="avatar" th:src="${contestPhoto.getUser().getUserPhotoUrl()}" alt="">
            <div>
                <p class="username" th:text="${contestPhoto.getUser().getUsername()}"></p>
                <p class="rank" th:text="${contestPhoto.getUser().getRank().getName()}"></p>
            </div>
        </div>
        <p class="imageStory" th:text="${contestPhoto.getStory()}"></p>
        <div class="facebookButton_container">
            <div th:replace="facebook_share_button_plugin.html :: facebook_share_button_plugin"></div>

        </div>
        <div class="line"></div>
        <div class="flex">
            <h3 class="text-white">Contest Photo Reviews</h3>
            <button th:if="${phaseForReview && isNotReviewed && isLoggedUserJury}" id="review_button" class="button--lightContestFormOrange">Give a Review</button>
        </div>
        <div th:if="${reviews.isEmpty()}">
            <h4 class="text-white">No reviews yet...</h4>
        </div>
        <div th:unless="${reviews.isEmpty()}">
            <h2 class="text-white">All reviews</h2>
            <div class="review_container"  th:each="review, iterStat : ${reviews}">
                    <div>
                        <span class="dashboard_position text-white" th:text="${iterStat.index + 1}">1</span>
                        <img class="avatar" th:src="${review.getUser().getUserPhotoUrl()}" alt="">
                        <span class="username text-white" th:text="${review.getUser().getUsername()}"></span>
                    </div>
                    <div class="starsAndStory">
                        <div th:each="star, iterStats : ${stars}">
                            <div th:if="${iterStats.index < review.getScore()}">
                                <img class="starImg_container" src="../static/images/sandwatch.png"
                                     th:src="@{https://res.cloudinary.com/photocontestapi/image/upload/v1650806959/PhotoContest/ContestPhotos/contestPhotoID:gold-star.png.png}"
                                     alt="">
                            </div>
                            <div th:unless="${iterStats.index < review.getScore()}">
                                <img class="starImg_container" src="../static/images/sandwatch.png"
                                     th:src="@{https://res.cloudinary.com/photocontestapi/image/upload/v1650880616/PhotoContest/ContestPhotos/star_2_fiik0h.png}"
                                     alt="">
                            </div>
                        </div>
                    </div>
                    <span class="text-white" th:text="${review.getComment()}"></span>
            </div>
        </div>
    </div>
</div>

<div class="popup_wrapper hide">
    <div id="creationForm_background" class="popup_background"></div>
    <div class="giveReviewForm_container">
        <span id="createPost_close_btn" class="close_btn">X</span>
        <h3>Rate and review</h3>
        <h2 th:text="${contestPhoto.getTitle()}"></h2>
        <form id="giveReview_form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
              th:object="${reviewDTO}" method="post">
            <div class="scoring_row">
                <label class="review_label">Please, give a rating:</label>
                <input id="star0" type="hidden" value="0"/>

                <div class="rate">
                    <input th:field="*{score}" type="radio" id="star10" name="rate" value="10"/>
                    <label for="star10" title="text">
                        <i class="fa fa-star-o"></i>
                    </label>
                    <input th:field="*{score}" type="radio" id="star9" name="rate" value="9"/>
                    <label for="star9" title="text">
                        <i class="fa fa-star-o"></i>
                    </label>
                    <input th:field="*{score}" type="radio" id="star8" name="rate" value="8"/>
                    <label for="star8" title="text">
                        <i class="fa fa-star-o"></i>
                    </label>
                    <input th:field="*{score}" type="radio" id="star7" name="rate" value="7"/>
                    <label for="star7" title="text">
                        <i class="fa fa-star-o"></i>
                    </label>
                    <input th:field="*{score}" type="radio" id="star6" name="rate" value="6"/>
                    <label for="star6" title="text">
                        <i class="fa fa-star-o"></i>
                    </label>
                    <input th:field="*{score}" type="radio" id="star5" name="rate" value="5"/>
                    <label for="star5" title="text">
                        <i class="fa fa-star-o"></i>
                    </label>
                    <input th:field="*{score}" type="radio" id="star4" name="rate" value="4"/>
                    <label for="star4" title="text">
                        <i class="fa fa-star-o"></i>
                    </label>
                    <input th:field="*{score}" type="radio" id="star3" name="rate" value="3"/>
                    <label for="star3" title="text">
                        <i class="fa fa-star-o"></i>
                    </label>
                    <input th:field="*{score}" type="radio" id="star2" name="rate" value="2"/>
                    <label for="star2" title="text">
                        <i class="fa fa-star-o"></i>
                    </label>
                    <input th:field="*{score}" type="radio" id="star1" name="rate" value="1"/>
                    <label for="star1" title="text">
                        <i class="fa fa-star-o"></i>
                    </label>
                </div>
            </div>
            <label id="scoreError_label" class="error hide">Please add points!</label>
            <div class="invalidCategory_row">
                <label>Invalid category</label>
                <label class="switch">
                    <input name="scoring" value="0" id="invalidCategory_checkbox" class="invalidCategory_checkbox" type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="reviewComment_container">
                <label class="review_label">Leave your thoughts on the photo:</label>
                <textarea th:field="*{comment}" class="review_comment" name="" id="review_textarea" cols="30" rows="10"></textarea>
                <div id="the-count">
                    <span id="current">0</span>
                    <span id="maximum">/ 8192</span>
                </div>
                <label id="commentError_label" class="error hide">Comment should be at least 32 characters</label>
            </div>

            <input type="submit" class="reviewForm_submit" value="submit">
        </form>
    </div>
</div>

<script th:src="@{/scripts/contest-photo.js}"></script>
</body>
</html>