<!DOCTYPE html>
<html class="dashboard" lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header.html :: header"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

<body class="dashboard">
<div th:replace="navbar-auth.html :: navigation-auth"></div>
<div class="dashboard_page">
    <div class="notifications">
        <div class="notification_container" th:each="notification : ${notifications}">
            <span th:attr="data-id=${notification.getId()}" onclick="hideNotification(event)" class="close_btn">X</span>
            <p class="date" th:text="${notification.getCreationDateFormatted()}"></p>
            <h3 class="contest_title" th:text="${notification.getContest().getTitle()}"></h3>
            <p class="notification_message" th:text="${notification.getMessage()}"></p>

            <a class="notification_button" th:onclick="'javascript:updateNotification(' + ${notification.getId()} + ')'"
               th:href="@{/contests/{id}(id=${notification.getContest().getId()})}"
               th:if="${notification.getType().getType().equals('jury')}">review</a>
            <a class="notification_button" th:onclick="'javascript:updateNotification(' + ${notification.getId()} + ')'"
               th:href="@{/contests/{id}/contestPhotoForm(id=${notification.getContest().getId()})}"
               th:unless="${notification.getType().getType().equals('jury')}">join</a>
        </div>
    </div>
    <div class="dashboardInner_container">
        <div class="dashboardSlider_container">
            <div th:if="${contestsPhaseOne.size() > 0}" class="contests_slider">
                <div th:replace="slider-phase-one.html :: slider"></div>
            </div>

            <div th:if="${contestsPhaseTwo.size() > 0}" class="contests_slider">
                <div th:replace="slider-phase-two.html :: slider"></div>
            </div>

            <div th:if="${contestsFinished.size() > 0}" class="contests_slider">
                <div th:replace="slider-finished.html :: slider"></div>
            </div>

            <div>
                <a href="#" th:href="@{/contests/creation-form}">
                    <button class="button--CreateNewContest" href="#">Create New Contest</button>
                </a>
                <div class="leaderBoard_container">
                    <h2 class="text-white leaderboard_title">HALL OF FAME</h2>
                    <div id="leader_board" class="leader_board">
                        <ul>
                            <a class="leaderBoard_row" th:each="user,iterStat : ${users}">
                                <a th:href="@{/users/{id}(id=${user.getId()})}">
                                    <span class="dashboard_position text-white" th:text="${iterStat.index + 1}">1</span>
                                    <img class="avatar" th:src="${user.getUserPhotoUrl()}" alt="">
                                    <span class="username text-white" th:text="${user.getUsername()}"></span>
                                </a>

                                <span class="score text-white" th:text="${user.getScore()}"></span>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="../static/scripts/dashboard.js" th:src="@{/scripts/dashboard.js}"></script>
<script src="../static/scripts/timer.js" th:src="@{/scripts/timer.js}"></script>
</body>
</html>