<div th:fragment="facebook_share_button_plugin" class="social_sharing">
    <div class="fb-share-button"
         th:attr="data-href='http://photocontest-env.eba-w9bgatcq.eu-central-1.elasticbeanstalk.com/contests/1/contestPhoto/77'"
          data-layout="button" data-size="small">
        <a target="_blank"
           href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgitlab.com%2Fteam-14-telerik%2Fphoto-contest&amp;src=sdkpreparse"
            class="fb-xfbml-parse-ignore">Share</a>
    </div>
</div>