<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header.html :: header"></div>
<body>
<div th:replace="navbar-public.html :: navigation-public"></div>
<div class="forgottenPassword_background">
    <div class="forgottenPassword-container">
        <form action="#" th:action="@{/auth/forgotten-password}" th:object="${emailDTO}" method="post">
            <h1 class="text-white createContestHeading_style">ENTER YOUR EMAIL TO RESET PASSWORD</h1>
            <label class="success_msg" th:text="${successMsg}">msg</label>
            <div class="email_password">
                <input class="forgottenPassword_input" type="email" placeholder="your email"
                       th:field="${emailDTO.email}">
            <input class="button--resetPassword" type="submit" value="Reset password">
            </div>

        </form>
    </div>
</div>
<div class="popup_wrapper hide">
    <div id="creationForm_background" class="popup_background"></div>
    <div class="createPostForm_container">
        <span id="createPost_close_btn" class="close_btn">X</span>
        <h1>Login</h1>
        <form id="createPost_form" action="/public/home" method="post">

            <div class="titleAndJury_container marginTenPx">
                <label class="usernameLogin_container">Username:</label>
                <input class="borderTenWithPadding" type="text" placeholder="Your username" name="username">
                <label class="error hide" id="usernameError_label">Username must be between 2 and 60 symbols</label>
            </div>
            <div class="titleAndJury_container marginTenPx">
                <label class="passwordLogin_container">Password:</label>
                <input class="borderTenWithPadding" type="password" name="password" placeholder="Your password">
            </div>
            <label class="error hide" id="passwordError_label">Password must be between 8 and 32 symbols</label>
            <label class="error hide" id="wrongCredentials_error">Wrong username or password ;(</label>
            <input class="button--lightOrange" type="submit" value="Login" id="createPost_btn">
        </form>
        <div class="loginForm_links">
            <a class="loginForm_link" href="#" th:href="@{/auth/forgotten-password}">Forgotten password?</a>
            <span>OR</span>
            <a class="loginForm_link" href="#" th:href="@{/auth/register}">Don't have an account?</a>

        </div>
    </div>
</div>
<script src="../static/scripts/login.js" th:src="@{/scripts/login.js}"></script>
</body>
</html>