<head th:fragment="header">
    <meta charset="UTF-8">
    <title>Photo Contest</title>
    <link rel="icon" type="image/png" sizes="64x64" href="../static/images/favicon-32x32.png"
          th:href="@{/images/favicon-32x32.png}">
    <link href="../static/styles/index.css" th:href="@{/styles/index.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>