<div th:fragment="slider-2" class="contests_slider homePage_slider">
    <div class="swiper_container">
        <h2>Finished</h2>
        <div id="swiper-2" class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide" th:each="contest : ${finishedContests}">
                    <а href="#">
                        <img class="slider_image"
                             th:src="${contest.getPhotoUrl()}"
                             alt="#"/>
                        <h4 class="slider_title" th:text="${contest.getTitle()}">title</h4>
                        <div th:if="${loggedUserRole == 2}" class="timer_overlay">
                            <div>
<!--                                <p>Waiting reviews for</p>-->
<!--                                <p th:attr="data-time=${contest.getDeadlinePhaseTwo()}" class="timer_container"></p>-->
<!--                                <p>hours minutes seconds</p>-->
                                <a th:href="@{/contests/{id}(id=${contest.getId()})}"  class="sliderReview_button">View photos</a>
                            </div>
                        </div>

                        <div th:if="${loggedUserRole == 1 || loggedUserRole == 3}" class="timer_overlay">
                            <div>
                                <p>Finished</p>
<!--                                <p th:attr="data-time=${contest.getDeadlinePhaseTwo()}" class="timer_container"></p>-->
<!--                                <p>hours minutes seconds</p>-->
                                <a th:href="@{/contests/{id}(id=${contest.getId()})}"  class="sliderReview_button">View photos</a>
                            </div>
                        </div>
                    </а>

                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</div>

<script>
    const swiper2 = new Swiper('#swiper-2', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,
        spaceBetween: 50,
        slidesPerView: 3,

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
        zoom: {
            maxRatio: 5,
        }
    });
</script>