<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header.html :: header"></div>
<body class="home-page">
<div th:if="${auth}">
    <div th:replace="navbar-auth.html :: navigation-auth"></div>
</div>
<div th:if="${auth==false}">
    <div th:replace="navbar-public.html :: navigation-public"></div>
</div>
<div class="home-page">
    <div class="hero-video-container">
        <video class="hero-video" autoplay loop playsinline muted>
            <source src="../static/videos/beach.mp4" th:src="@{/videos/beach.mp4}" type="">
            <!--                <source src="https://web.gurushots.com/assets/videos/gurushots-cover-video-wide.mp4" type="video/mp4">-->
        </video>
        <div class="heroVideo_content">
            <div class="line_1"> THE WORLD'S GREATEST</div>
            <div class="line_2"> PHOTO CHALLENGES</div>
            <div class="line_3"> Join fresh daily competitions, accumulate scores and become the next Photo Dictator
            </div>
            <a th:unless="${auth}" th:href="@{/auth/register}">
                <button class="heroVideoContent_button"> JOIN US</button>
            </a>
            <a th:if="${auth}" href="#explore">
                <button class="heroVideoContent_button"> EXPLORE</button>
            </a>
        </div>
    </div>
</div>
<div class="popup_wrapper hide">
    <div id="creationForm_background" class="popup_background"></div>
    <div class="createPostForm_container">
        <span id="createPost_close_btn" class="close_btn">X</span>
        <h1>Login</h1>
        <form id="createPost_form" action="/public/home" method="post">

            <div class="titleAndJury_container marginTenPx">
                <label class="usernameLogin_container">Username:</label>
                <input class="borderTenWithPadding" type="text" placeholder="Your username" name="username">
                <label class="error hide" id="usernameError_label">Username must be between 2 and 60 symbols</label>
            </div>
            <div class="titleAndJury_container marginTenPx">
                <label class="passwordLogin_container">Password:</label>
                <input class="borderTenWithPadding" type="password" name="password" placeholder="Your password">
            </div>
            <label class="error hide" id="passwordError_label">Password must be between 8 and 32 symbols</label>
            <label class="error hide" id="wrongCredentials_error">Wrong username or password ;(</label>
            <input class="button--lightOrange" type="submit" value="Login" id="createPost_btn">
        </form>

        <div class="loginForm_links">
            <a class="loginForm_link" href="#" th:href="@{/auth/forgotten-password}">Forgotten password?</a>
            <span>OR</span>
            <a class="loginForm_link" href="#" th:href="@{/auth/register}">Don't have an account?</a>
        </div>

        <a href="/oauth2/authorization/google" class="google-btn">
            <div class="google-icon-wrapper">
                <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
            </div>
            <p class="btn-text"><b>Sign in with google</b></p>
        </a>
    </div>
</div>

<div th:if="${auth && popularPhotos.size() > 0}" class="topRatedPhotos_container">
    <h2 >Top rated photos</h2>
    <div class="contest_photos" id="explore">
        <div th:each="photo : ${popularPhotos}" class="participantPhoto_container">
            <a th:href="@{/contests/{id}/contestPhoto/{contestPhotoId}(id=${photo.getContest().getId()},contestPhotoId=${photo.getId()})}">
            <img class="participant_img"
                 src="https://photos.gurushots.com//unsafe/0x0/b495aab425413ba0a45e8b93bf89df3d/3_0975f2c117c345588143c4e5ce62056d.jpg"
                 th:src="${photo.getPhotoUrl()}" alt=""></a>
            <div class="participant_info">
                <a th:href="@{/users/{id}(id=${photo.getUser().getId()})}">
                    <img class="participant_avatar"
                         src="https://photos.gurushots.com/unsafe/100x100/b495aab425413ba0a45e8b93bf89df3d/3_ae930c9654156790da3ee455f5f5c23b.jpg"
                         th:src="${photo.getUser().getUserPhotoUrl()}" alt=""></a>

                <div class="participant_details">
                    <p class="names" th:text="${photo.getUser().getFirstName() + ' ' + photo.getUser().getLastName()}">
                        Maria Picasso</p>
                    <a th:href="@{/users/{id}(id=${photo.getUser().getId()})}">
                        <p class="username" th:text="${photo.getUser().getUsername()}">username</p></a>
                    <p class="rank" th:text="${photo.getUser().getRank().getName()}">junky</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:if="${auth}">
    <div th:replace="home-slider-1.html :: slider-1"></div>
    <div th:replace="home-slider-2.html :: slider-2"></div>
</div>
<div th:replace="footer.html :: footer"></div>
<script src="../static/scripts/home.js" th:src="@{/scripts/home.js}"></script>
<script src="../static/scripts/timer.js" th:src="@{/scripts/timer.js}"></script>
<script th:unless="${auth}" src="../static/scripts/login.js" th:src="@{/scripts/login.js}"></script>
</body>
</html>