<div th:fragment="navigation-auth" class="navigation_container 1">
    <div class="navigation_container--left">
        <a href="#" th:href="@{/home}">
            <img class="logo_icon" src="https://res.cloudinary.com/photocontestapi/image/upload/v1650533262/logo_yjdjse.png" alt="Logo">
        </a>
        <span class="logo_text">PhotoContest</span>
    </div>

    <div class="navigation_container--right">
        <a th:if="${loggedUser.getRole().getName().equals('photo_junkie')}" class="navigation_item" href="" th:href="@{/users/dashboard(id=${loggedUser.getId()})}">My Dashboard</a>
        <a th:if="${loggedUser.getRole().getName().equals('organizer')}" class="navigation_item" href="" th:href="@{/organizers/dashboard(id=${loggedUser.getId()})}">My Dashboard</a>
        <a th:if="${loggedUser.getRole().getName().equals('admin')}" class="navigation_item" href="" th:href="@{/organizers/dashboard(id=${loggedUser.getId()})}">My Dashboard</a>
        <a href="" th:href="@{/contests}" class="navigation_item" >All contests</a>
        <div class="userImg_navigationBar">
            <img src="#" id="profilePictureSwitch" class="navigationProfile_img image--rounded" th:src="${loggedUser.getUserPhotoUrl()}" alt="profilePicture">
            <div id="loggedUser_dropDown" class="userOptions_navigationBar hide">
                <a class="myProfile_button" href="#" th:href="@{/users/{id}(id=${loggedUser.getId()})}">My profile </a>
                <a class="logout_button" href="#" th:href="@{/logout}">logout</a>
            </div>
        </div>
    </div>
    <script src="../static/scripts/navbar.js" th:src="@{/scripts/navbar.js}"></script>
</div>
