<div th:fragment="navigation-public" class="navigation_container">
    <div class="navigation_container--left">
        <a href="#" th:href="@{/public/home}">
            <img class="logo_icon" src="https://res.cloudinary.com/photocontestapi/image/upload/v1650533262/logo_yjdjse.png" alt="Logo">
        </a>
        <span class="logo_text">PhotoContest</span>
    </div>

    <div class="navigation_container--right">
        <button  class="login_button" id="show_form">Login</button>
    </div>
</div>