<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header.html :: header"></div>
<body class="usersProfile_page">
<div th:replace="navbar-auth.html :: navigation-auth" ></div>
<div class="userProfile_container">
<div class="userInfo_container">
    <div class="profileImage_container">
        <img src="../static/images/fish.jpg" class="user_img" th:src="${user.getUserPhotoUrl()}" alt="">
    </div>
    <div>
        <p class="username" th:text="${user.getUsername()}">sofi</p>
        <p class="fullName" th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}">Sofi Stoyanova</p>
        <p class="fullName" th:text="'Blocked: '+ ${user.isBlocked()}">Blocked</p>
    </div>

    <div class="user_controllers controllers">
        <a href="#" th:href="@{/users}">view users |</a>
        <a  th:if="${loggedUser.getRole().getName().equals('admin')}"
            href="#" onclick="deleteUser(event)" th:href="@{__${#httpServletRequest.requestURI}__/delete}">delete |</a>
        <a th:if="${loggedUser.getRole().getName().equals('admin') && !user.isBlocked()}"
        href="#" onclick="blockUser(event)" th:href="@{__${#httpServletRequest.requestURI}__/block}">block </a>

        <a th:if="${loggedUser.getRole().getName().equals('admin') && user.isBlocked()}"
           href="#" onclick="blockUser(event)" th:href="@{__${#httpServletRequest.requestURI}__/block}">unblock </a>


    </div>
</div>


    <div class="userStats_container">
        <div th:unless="${loggedUser.getRole().getName().equals('admin')}">
            <span class="userStats_label">Role: </span>
            <span class="userStats_value" th:text="${user.getRole().getName()}">user</span>
        </div>

        <div th:if="${loggedUser.getRole().getName().equals('admin')}">
            <form id="updateRole_form" method="post" action="#" th:action="@{__${#httpServletRequest.requestURI}__/roles}">
                <label class="userStats_label">Role: </label>
                <select onchange="updateRole(event)" class="roles_select" name="roleName">
                      <span th:if="${user.getRole().getName().equals('photo_junkie')}">
                            <option value="admin">Admin</option>
                          <option  value="organizer">Organizer</option>
                            <option selected value="photo_junkie">Photo Junkie</option>
                        </span>

                    <span th:if="${user.getRole().getName().equals('admin')}">
                            <option selected value="admin">Admin</option>
                            <option value="organizer">Organizer</option>
                            <option value="photo_junkie">Photo Junkie</option>
                        </span>

                    <span th:if="${user.getRole().getName().equals('organizer')}">
                            <option value="admin">Admin</option>
                          <option selected value="organizer">Organizer</option>
                            <option value="photo_junkie">Photo Junkie</option>
                        </span>
                </select>
            </form>
        </div>

        <div>
            <span class="userStats_label">Email: </span>
            <span class="userStats_value" th:text="${user.getEmail()}">email</span>
        </div>

        <div>
            <span class="userStats_label">Rank: </span>
            <span class="userStats_value" th:text="${user.getRank().getName()}">2022-02-23 11:17</span>
        </div>

        <div>
            <span class="userStats_label">Score until next rank: </span>
            <span th:if="${user.getRank().getName().equals('junkie')}" class="userStats_value" th:text="${51 - user.getScore()}">0</span>
            <span th:if="${user.getRank().getName().equals('enthusiast')}" class="userStats_value" th:text="${151 - user.getScore()}">0</span>
            <span th:if="${user.getRank().getName().equals('master')}" class="userStats_value" th:text="${1001 - user.getScore()}">0</span>
            <span th:if="${user.getRank().getName().equals('wise_and_benevolent_dictator')}" class="userStats_value" th:text="${'Infinity'}">0</span>
        </div>

        <div>
            <span class="userStats_label">Score: </span>
            <span class="userStats_value" th:text="${user.getScore()}">0</span>
        </div>
    </div>
    <h2 class="profileHeader">My Finished Contests: </h2>
    <div class="contestUser_container">
        <div th:each="contest : ${myContests}">
            <a th:href="@{/contests/{id}(id=${contest.getId()})}">
                <img class="user_profile_contestImg"
                     src="https://photos.gurushots.com//unsafe/0x0/b495aab425413ba0a45e8b93bf89df3d/3_0975f2c117c345588143c4e5ce62056d.jpg"
                     th:src="${contest.getPhotoUrl()}" alt="">
            </a>
        </div>
    </div>
</div>
<script src="../static/scripts/confirm.js" th:src="@{/scripts/confirm.js}"></script>
</body>
</html>