<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header.html :: header"></div>
<body class="registration_body">
<div th:replace="navbar-public.html :: navigation-public" ></div>
<div class="container registerPage_container">

    <!-- Sign Up Form
    ================================================= -->

    <video class="hero-video-registration" autoplay loop playsinline muted>
        <source src="../static/videos/register_girl_video.mp4" th:src="@{/videos/register_girl_video.mp4}" type="">
    </video>

    <div id="user-photo" th:object="${userDTOIn}" th:user-photo="${userDTOIn.getMultipartPhoto()}"></div>
    <div>
        <h2 class="register_title">Register to join our contests!</h2>
        <p class="email_activation" th:if="${sent}">Activation email was sent to you, please check your mailbox</p>
        <div class="line-divider"></div>
        <div class="register_container">
            <div class="form-wrapper">
                <div class="form-wrapper-inside">
                    <form id="register" th:action="@{/auth/register}" method="post" th:object="${userDTOIn}"
                          enctype="multipart/form-data">
                        <div class="photo_details registrationForm_row">
                        <label class="text-white photo-label" for="example-user-photo" style="cursor: pointer">
                            <i class="fa fa-photo"></i> UPLOAD your profile photo</label>
                            <div class="image-preview" id="imagePreview">
                                <img src="" alt="Image Preview" class="image-preview__image">
                                <span class="image-preview__default-text">Image preview</span>
                            </div>
                        </div>
                        <div hidden="hidden" class="form-group">
                            <input th:field="*{multipartPhoto}" type="file" accept="image/*" class="form-control"
                                   id="example-user-photo" name="multipartPhoto"/>
                            <input  name="MAX_FILE_SIZE" value="2000000">
                        </div>


                        <div class="form-group registrationForm_row">
                            <label class="user_form_data text-white">Username:</label>
                            <input type="text" class="form-control" th:field="*{username}" id="example-username"
                                   placeholder="Enter username" autofocus autocomplete required minlength="3"
                                   maxlength="50">
                            <label for="example-username" class="text-danger" th:errors="*{username}"
                                   th:text="#{user.Username.validity}">Invalid Username</label>
                        </div>
                        <div class="form-group registrationForm_row">
                            <label class="user_form_data text-white">Email:</label>
                            <input type="email" class="form-control" th:field="*{email}" id="example-email"
                                   placeholder="Enter email" required autocomplete minlength="3" maxlength="50">
                            <label for="example-email" class="text-danger" th:errors="*{email}"
                                   th:text="#{user.Email.Validity}">Email
                                error</label>
                        </div>
                        <div class="form-group registrationForm_row">
                            <label class="user_form_data text-white">Password:</label>
                            <input type="password" class="form-control" th:field="${userDTOIn.password}"
                                   id="example-password"
                                   placeholder="Enter a password" required autocomplete minlength="3" maxlength="68">
                            <label for="example-password" class="text-danger" th:errors="${userDTOIn.password}"
                                   th:text="#{user.Password.validity}">Password error</label>
                        </div>
                        <div class="form-group registrationForm_row">
                            <label class="user_form_data text-white">Password confirmation:</label>
                            <input type="password" class="form-control" th:field="${userDTOIn.passwordConfirmation}"
                                   id="example-password-confirmation" placeholder="Confirm a password" required
                                   autocomplete
                                   minlength="3" maxlength="68">
                            <label for="example-password-confirmation" class="text-danger"
                                   th:errors="${userDTOIn.passwordConfirmation}"
                                   th:text="#{user.Password.validity}">Password error</label>
                        </div>
                        <div class="form-group registrationForm_row">
                            <label class="user_form_data text-white">First name:</label>
                            <input type="text" class="form-control" th:field="${userDTOIn.firstName}"
                                   id="example-first-name"
                                   placeholder="Enter first name" required autocomplete minlength="3" maxlength="50">
                            <label for="example-first-name" class="text-danger" th:errors="${userDTOIn.firstName}"
                                   th:text="#{user.firstName.validity}">Invalid First name</label>
                        </div>
                        <div class="form-group registrationForm_row">
                            <label class="user_form_data text-white">Last name:</label>
                            <input type="text" class="form-control" th:field="${userDTOIn.lastName}"
                                   id="example-last-name"
                                   placeholder="Enter last name" required autocomplete minlength="3" maxlength="50">
                            <label for="example-last-name" class="text-danger" th:errors="${userDTOIn.lastName}"
                                   th:text="#{user.lastName.validity}">Invalid Last name</label>
                        </div>
                        <br/>
                        <button type="submit" form="register" class="button--lightOrange">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup_wrapper hide">
    <div id="creationForm_background" class="popup_background"></div>
    <div class="createPostForm_container">
        <span id="createPost_close_btn" class="close_btn">X</span>
        <h1>Login</h1>
        <form id="createPost_form" action="/public/home" method="post">

            <div class="titleAndJury_container marginTenPx">
                <label class="usernameLogin_container">Username:</label>
                <input class="borderTenWithPadding" type="text" placeholder="Your username" name="username">
                <label class="error hide" id="usernameError_label">Username must be between 2 and 60 symbols</label>
            </div>
            <div class="titleAndJury_container marginTenPx">
                <label class="passwordLogin_container">Password:</label>
                <input class="borderTenWithPadding" type="password" name="password" placeholder="Your password">
            </div>
            <label class="error hide" id="passwordError_label">Password must be between 8 and 32 symbols</label>
            <label class="error hide" id="wrongCredentials_error">Wrong username or password ;(</label>
            <label class="error hide" id="confirmEmail_error">Please confirm your email first!</label>
            <input class="button--lightOrange" type="submit" value="Login" id="createPost_btn">
        </form>
        <div class="loginForm_links">
            <a class="loginForm_link" href="#" th:href="@{/users/forgotten-password}">Forgotten password?</a>
            <span>OR</span>
            <a class="loginForm_link" href="#" th:href="@{/auth/register}">Don't have an account?</a>

        </div>
    </div>
</div>
<script th:src="@{/scripts/register.js}"></script>
<script src="../static/scripts/login.js" th:src="@{/scripts/login.js}"></script>
</body>
</html>