<div th:fragment="slider" class="swiper_container">
    <h2 th:text="${sliderTitle4}">...</h2>
    <div class="swiper" id="swiper4">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide" th:each="contest : ${juriedContests}">
                <а href="#">
                    <img class="slider_image"
                         th:src="${contest.getPhotoUrl()}"
                         alt="#"/>
                    <h4 class="slider_title" th:text="${contest.getTitle()}">title</h4>
                    <div class="timer_overlay">
                        <div>
                            <p>Waiting reviews for</p>
                            <p th:attr="data-time=${contest.getDeadlinePhaseTwo()}" class="timer_container"></p>
                            <p>hours minutes seconds</p>
                            <a th:href="@{/contests/{id}(id=${contest.getId()})}" class="sliderReview_button">Review</a>
                        </div>
                    </div>
                </а>

            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>

    <script>
        const swiper4 = new Swiper('#swiper4', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,
            spaceBetween: 50,
            slidesPerView: 3,

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // And if we need scrollbar
            scrollbar: {
                el: '.swiper-scrollbar',
            },
            zoom: {
                maxRatio: 5,
            }
        });
    </script>

</div>
