<div th:fragment="social_sharing_SDK" class="social_sharing">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v13.0" nonce="JRVCRiU2"></script>
</div>