<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Browse Users</title>
    <!-- FROM HEADER FRAGMENT -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <!--    USERS DATA TABLES -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <!--MAIN CSS STYLE -->
    <link href="../static/styles/index.css" th:href="@{/styles/index.css}" rel="stylesheet"/>


</head>
<body class="browseUsers_page">
<div th:replace="navbar-auth.html :: navigation-auth"></div>
<div>


    <!--HEADING-->
    <div class="formOverAllHeading">
        <h1>Browse users</h1>
    </div>

    <!-- TABLE-->
    <div class="table" id="tableDiv">
        <div class="usersListing_container">
            <table class="table table-fluid display cell-border" id="myTable">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <!--                <th scope="col">Prof Pic</th>-->
                    <th scope="col">Username</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Join Date</th>
                    <th scope="col">Role</th>
                    <th scope="col">Rank</th>
                    <th scope="col">Score</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user, iterator : ${users}">
                    <th th:text="${user.getId()}"></th>
                    <td>
                        <a th:href="@{/users/{id}(id=${user.getId()})}">
                            <button style="width: 140px; margin-top: 0; margin-bottom: 0" type="button"
                                    class="btn btn-outline-dark btn-sm"><b th:text="${user.getUsername()}"
                                                                           style="font-size: 14px; text-align: left !important;">Dummy
                                username</b></button>
                        </a>
                    </td>
                    <td th:text="${user.getFirstName}"></td>
                    <td th:text="${user.getLastName}"></td>
                    <td th:text="${user.getEmail}"></td>
                    <td th:text="${user.getRegistrationDate.toLocalDate()}"></td>
                    <td>
                        <span th:if="${user.getRole().getName().equals('admin')}">Admin</span>
                        <span th:if="${user.getRole().getName().equals('organizer')}">Organizer</span>
                        <span th:if="${user.getRole().getName().equals('photo_junkie')}">Photo Junkie</span>
                    </td>
                    <td>
                        <span th:if="${user.getRank().getName().equals('junkie')}">Junkie</span>
                        <span th:if="${user.getRank().getName().equals('enthusiast')}">Enthusiast</span>
                        <span th:if="${user.getRank().getName().equals('master')}">Master</span>
                        <span th:if="${user.getRank().getName().equals('wise_and_benevolent_dictator')}">Dictator</span>
                    </td>
                    <td th:text="${user.score}"></td>
                </tr>
                </tbody>
            </table>

            <!-- SEARCH AND SORT SEGMENT-->
            <div class="searchAndSort" id="random">
                <form class="formBox" th:action="@{/users}" th:object="${filterDTO}" method="post">
                    <div class="formHeading">
                        <p>Filter results by:</p>
                    </div>
                    <div class="formBox_row">
                        <label for="inputUsername" class="form-label">Username</label>
                        <input th:field="*{username}" type="text" class="form-control" id="inputUsername">
                    </div>
                    <div class="formBox_row">
                        <label for="inputFirstName" class="form-label">First name</label>
                        <input th:field="*{firstName}" type="text" class="form-control" id="inputFirstName">
                    </div>
                    <div class="formBox_row">
                        <label for="inputLastName" class="form-label">Last name</label>
                        <input th:field="*{lastName}" type="text" class="form-control" id="inputLastName">
                    </div>
                    <div class="formBox_row">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input th:field="*{email}" type="text" class="form-control" id="inputEmail">
                    </div>

                    <!-- MIN MAX SCORE SLIDER START-->

                    <div class="formBox_row container--flex">
                        <div class="score_filter">
                            <label for="minScore" class="form-label">Min Score</label>
                            <input th:field="*{minScore}" type="number" class="form-control" id="minScore">
                        </div>

                        <div class="score_filter">
                            <label for="maxScore" class="form-label">Max Score</label>
                            <input th:field="*{maxScore}" type="number" class="form-control" id="maxScore">
                        </div>
                    </div>



                    <div class="formHeading">
                        <p>Role:</p>
                    </div>
                    <select th:field="*{userRole}" class="form-select formBox_row" aria-label="Default select example">
                        <option selected value=""> -- select an option --</option>
                        <option value="admin">admin</option>
                        <option value="organizer">organizer</option>
                        <option value="photo_junkie">photo junkie</option>
                    </select>

                    <div class="formHeading">
                        <p>Rank:</p>
                    </div>
                    <select th:field="*{userRank}" class="form-select formBox_row" aria-label="Default select example">
                        <option selected value=""> -- select an option --</option>
                        <option value="junkie">junkie</option>
                        <option value="enthusiast">enthusiast</option>
                        <option value="master">master</option>
                        <option value="wise_and_benevolent_dictator">dictator</option>
                    </select>
                    <div class="formSubheading">
                        <p>Order by:</p>
                    </div>
                    <select th:field="*{sortBy}" class="form-select formBox_row" aria-label="Default select example">
                        <option selected value="">-- select an option --</option>
                        <option value="id">ID</option>
                        <option value="registrationDate">Join date</option>
                        <option value="username">Username</option>
                        <option value="firstName">First name</option>
                        <option value="lastName">Last name</option>
                        <option value="email">Email</option>
                        <option value="score">Score</option>
                    </select>
                    <div class="formSubheading">
                        <p>
                            Sort order:
                            <br>
                            (To enable sort order please select a 'order by' criteria)
                        </p>
                    </div>
                    <select th:field="*{sortOrder}" class="form-select formBox_row" aria-label="Default select example">
                        <option selected value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                    <button type="submit" class="button--lightOrange">Filter and sort</button>
                    <a th:href="@{/users}">Clear all</a>

                </form>

            </div>
        </div>
    </div>
</div>

</div>
<script th:src="@{/scripts/users.js}"></script>
</body>
</html>