
.home-page {
    position: relative;
    width: 100%;
    height: 100vh;
}

body {
    margin: 0;
    font-family: "Open Sans", "Arial", sans-serif;
}

.hero-video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-video-registration {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.text-white {
    color: #FFFFFF;
}

.login_button {
    background: #000000;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 24.5px;
    color: #FFF;
    width: 112px;
    padding: 7px 16px 7px 16px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.logo_text {
    font-size: 24px;
    max-width: 200px;
    font-weight: bold;
    color: #FFF;
}

.logo_icon {
    height: 46px;
    width: auto;
    margin-right: 11px;
}


.navigation_container {
    box-sizing: border-box;
    font-family: Arial, serif;
    background-color: #000000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    z-index: 99;
    top: 0;
}

.navigation_container--right {
    display: flex;
    align-items: center;
}

.navigation_container--left {
    display: flex;
    align-items: center;
}

.heroVideo_content {
    position: absolute;
    top: 60%;
    left: 83%;
    transform: translate(-50%, -50%);
}

.line_1 {
    font-size: 27px;
    font-weight: 600;
    color: #FFFF;
}


.line_2 {
    width: 538px;
    font-size: 42px;
    color: #FFFF;
    font-weight: 800;
}


.line_3 {
    font-size: 24px;
    margin-top: 12px;
    color: #FFFF;
    font-weight: 600;
}

.heroVideoContent_button {
    font-weight: 500;
    line-height: 26px;
    font-size: x-large;
    background: #e7e641;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 6px 24px;
    margin-top: 15px;
    cursor: pointer;
}

.heroVideoContent_button:hover {
    background: #e97e80;
    color: #000000;
}

/*Slider: */
.swiper {
    background: transparent;
    padding: 20px 30px;
}

.slider_link {
    width: 20%;
}

.slider_image {
    width: 100%;
    border-radius: 4px;
}

.swiper-button-prev,
.swiper-button-next {
    height: 100%;
    width: 4%;
    width: calc(4% - 5px);
    top: 0;
    bottom: 0;
    margin: 0;
    background-color: transparent;
}

.swiper-button-prev {
    left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.swiper-button-next {
    right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: #fff;
    font-size: 4vw;
    font-weight: bold;
    transition: transform 0.1s ease-out;
}

.main_container {
    max-width: 1000px;
    margin: 0 auto;
}

.banner_image {
    position: relative;
    cursor: pointer;
    background-color: grey;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    -webkit-box-flex: 2;
    width: 100%;
}

.contest_container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1600px;
    min-height: 160px;
    margin: 0 auto 50px;
    -webkit-transition: -webkit-box-shadow .3s ease-in-out;
    transition: -webkit-box-shadow .3s ease-in-out;
    -o-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
    text-align: left;
    border: 1px solid #d4dedf;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 1;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.bannerImage_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 35%;
    backdrop-filter: blur(27px);
    background: black;
    color: #fff;

}

.bannerImage_content .join_button {
    position: absolute;
    top: 59%;
    right: 8%;
}

.button--lightOrange {
    font-weight: 400;
    line-height: 24px;
    background: #F8ECC7;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 10px;
    padding: 2px 12px;
    text-transform: capitalize;
    font-family: cursive;
    color: #000;
    font-weight: 500;
    cursor: pointer;
}

.button--CreateNewContest {
    line-height: 24px;
    background: #F8ECC7;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    /* margin-right: 10px; */
    padding: 8px 24px;
    text-transform: capitalize;
    font-family: cursive;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 41px;
    z-index: 1;

}

.bannerImage_content h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #fff;
}

.page {
    min-height: 100vh;
    position: relative;
    margin: auto 0;
    background-color: #fff;
    padding-top: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.contestBannerBackground_image {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 600px;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.contestBanner_container {
    position: relative;
}

.contestBanner_content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    color: #fff;
    transform: translate(-50%, -50%);
}

.contestPage_menu {
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0%);
}

.registrationForm_row {
    margin-bottom: 20px;
}

.contestPageMenu_button {
    position: relative;
    display: inline-block;
    width: 200px;
    margin: 0 15px;
    padding: 10px 0 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    background-color: #333;
    font-size: 16px;
    font-weight: 400;
    border: none;
}

.contestPage_menu .contestPageMenu_button--active {
    background: #fff;
    color: #000;
}

.contestPhotos_container {
    max-width: 1050px;
    margin: 50px auto;
    padding: 0 10px;
    width: 100%;
}

.contestPhotos_container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.contest_photos {
    width: 100%;
}

.participantPhoto_container {
    display: inline-block;
    width: 31.3%;
    margin-right: 15px;
    padding-bottom: 116px;
    position: relative;
}

.participant_img {
    width: 100%;
    max-height: 200px;
    /*margin-bottom: 60px;*/
}

.participant_info {
    position: absolute;
    bottom: 23px;
    /*bottom: -87px;*/
    left: 0;
    display: flex;
    padding: 15px 0 0 120px;
    z-index: 1;
}

.participant_avatar {
    position: absolute;
    left: -4px;
    top: -40px;
    max-width: 100px;
    border-radius: 50%;
    border: 8px solid #fff;
    width: 90px;
    height: 90px;
}

.participant_details {
    max-width: 190px;
    word-break: break-word;
}

.participant_details p {
    margin-bottom: 5px;
    margin-top: 0;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 1.2;
}

.participant_details p.rank {
    color: #555;
    font-weight: 600;
    text-transform: uppercase;
}

.timer_overlay, .finished_overlay {
    background: #00000096;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #fff;

    display: none;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.swiper-slide:hover .timer_overlay,
.swiper-slide:hover .finished_overlay {
    display: flex;
}

.contestPhotos_container h2 {
    text-align: center;
    margin-bottom: 50px;
}

.hide {
    display: none;
}

.winner_position {
    position: absolute;
    z-index: 11;
    top: -32px;
    left: 50%;
    display: inline-block;
    width: 65px;
    height: 65px;
    margin: 0 auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #000;
    border-radius: 50%;
    background-color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
}

.contestDetails_title {
    text-align: left;
    letter-spacing: -0.6px;
    color: #000000;
    font-size: 32px;
    line-height: 1.3;
    font-family: "Open Sans", "Arial", sans-serif;
}

.contestDetail_description {
    max-width: 573px;
    font-family: "Open Sans", "Arial", sans-serif;
    padding-left: 50px;
}

.contestDetail_description p {
    color: #444;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    margin-top: 20px;
}

.contest_details {
    display: flex;
    text-align: left;
    align-items: center;
    white-space: normal;
    margin: 0 auto;
}

.contestDetail_stats {
    display: flex;
    max-width: 1000px;
    margin: 55px auto 10px;
    padding: 15px 0;
    text-align: center;
    justify-content: space-around;
    color: #666;
    /*border-top: 1px solid lightgray;*/
}

.icon_container {
    display: flex;
    align-items: center;
}

.details_icon,
.points_icon {
    margin-right: 10px;
}

.contestDetailsInfo_image {
    padding-right: 50px;
    vertical-align: top;
    white-space: normal;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.dashboard_page {
    background: url("../images/dashboard-background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    position: relative;
    margin-top: 70px;
    padding-top: 30px;
}

.dashboardInner_container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.contests_slider {
    background: #ffffff25;
    position: relative;
    border-radius: 10px;
    margin-bottom: 44px;
}

.swiper_container {
    padding: 10px 40px 30px;
}

.swiper_container h2 {
    color: #fff;
}

.swiper-horizontal > .swiper-scrollbar {
    display: none;
}

.swiper-button-prev, .swiper-button-next {

}

.login_container {
    margin: 10px auto;
    max-width: 980px;
}


.user_form_data {
    display: inline-block;
    width: 110px;
}

.register_container {
    margin: 0 120px 55px;
    max-width: 980px;
}

.register_title {
    color: #FFFFFF;
    text-align: center;
    margin-top: 50px;
}

.text-danger {
    color: crimson;
}

.form-wrapper-inside {
    width: 400px;
    text-align: center;
    padding: 16px 30px;
}


/*  image preview styles */
.image-preview {
    display: flex;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0;
    border: 2px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: lightgrey;
}

.image-preview__image {
    display: none;
    width: 100%;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

btn:hover {
    background-color: darkgreen;
}

.button {
    transition-duration: 0.4s;
}

.button:hover {
    background-color: darkgreen;
    color: white;
}

.photo_details {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.photo-label {
    margin-right: 20px;
}

.loginForm_link {
    text-decoration: underline;
    color: #808080;
}

.loginForm_link:hover {
    color: #000;
}

.loginForm_links {
    margin-top: 20px;
}

.hide {
    display: none !important;
}

.popup_background {
    background: rgba(48, 59, 70, 0.65);
    /*display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.createPostForm_container {
    background: #fff;
    color: #303b46;
    flex-flow: row wrap;
    padding: 57px 87px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 531px;
    width: 100%;
    z-index: 10000;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

.close_btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px 6px;
    cursor: pointer;
}

.form_row {
    margin-bottom: 20px;
}

.error {
    color: crimson;
}

.button--lightOrange {
    font-weight: 400;
    line-height: 24px;
    background: #F8ECC7;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 10px;
    padding: 2px 12px;
    text-transform: capitalize;
    font-family: cursive;
    color: #000;
    font-weight: 500;
    cursor: pointer;
}

#createPost_form {
    margin: 0 auto;
}

#createPost_form .button--lightOrange {
    display: block;
    margin: 10px auto;
}

.error {
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
}

.backgroundPhoto_container {
    max-width: 1500px;
}

.titleAndCategory_container {
    position: absolute;
    top: 19%;
    left: 63%;
    transform: translate(-50%, -50%);
}

.photo_container {
    position: absolute;
    top: 57%;
    left: 63%;
    transform: translate(-50%, -50%);
}

.transparent_container {
    background: #ffffff25;
    border: dotted black;
}

.form-control {
    width: 70%;
    border: 2px solid #C6C6C6;
    box-sizing: border-box;
    border-radius: 10px;
    background: #ffffffba;
    padding: 10px;
}

.usersListing_container .form-control {
    width: 100%;
}

.joinContest_container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.frame_img {
    max-width: 750px;
}

.joinContestForm_row {
    margin: 0 auto 45px;
    position: relative;
    width: fit-content;
}

.joinContestFormTitle_input {
    width: 200px;
    height: 30px;
    background: rgb(245 239 239 / 70%);;
    border-radius: 10px;
    text-align: center;
    border: 1px solid;
}

.joinContest_form h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    margin: 0 auto 18px;
}

.joinContestFormUpload_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 512px;
    height: 321px;
    background: rgb(0 0 0 / 10%);
    border: 2px dashed #000000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-white photo-label {
    cursor: pointer;
}

.storyInput_container {

}

.joinContestForm_btn {
    right: -235px;
    width: 175px;
    height: 50px;
    background: #416876;
    border-radius: 10px;
    position: absolute;
    margin-left: 50px;
    top: 50%;
    transform: translate(0, -50%);
    letter-spacing: 2px;
    color: #fff;
}

.joinContest_form textarea {
    width: 791px;
    height: 125px;
    background: rgb(245 239 239 / 70%);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
}

.participantImage-preview {
    max-height: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.participantImage-preview__image {
    display: none;
    width: 100%;
    width: 100%;
    height: 100%;
}

.contestPhotoUpload_page {
    background: url("../images/white-wall.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    padding: 100px;
}

.slider_title {
    position: absolute;
    left: 10px;
    top: 10px;
    margin: 0;
    font-weight: 900;
}

.sliderReview_button {
    border: none;
    padding: 8px 27px;
    border-radius: 10px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
    background: #fff;
    color: #000;
    text-decoration: none;
    display: inline-block;
}

.sliderReview_button:hover {
    background: #000;
    color: #fff;
}

.leaderBoard_container {
    display: inline-block;
    width: 22%;
    height: 80%;
    box-sizing: border-box;
    position: absolute;
    top: 55px;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 20px;
    border-radius: 5px;
}

.UsersLeaderBoard_container {
    display: inline-block;
    width: 22%;
    height: 80%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 20px;
    border-radius: 5px;
}

.leaderboard_title {
    align-items: center;
}

.dashboardSlider_container {
    display: inline-block;
    width: 75%;
}

.leaderBoard_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.leaderBoard_row a {
    display: flex;
    align-items: center;
}

.accessDenied_container {
    text-align: center;
    margin-top: 300px;
}

.dashboard_position {
    width: 22px;
}

ul {
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f3ebd087;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #626161;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E5A250;
}

.createContest_container {
    margin: 0px auto;
    max-width: 1000px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 30px 70px;
}

.dateSlider_style {
    display: block;
}

.dateSlider_Size {
    margin-top: 25px;
    width: 600px;
}

.contestForm_row {
    margin-bottom: 40px;
}

.uploadPhotoLink_container {
    margin-top: 20px;
    display: block;
}

.selectForm_container {
    width: 130px;
    border: 2px solid #C6C6C6;
    box-sizing: border-box;
    border-radius: 10px;
    background: #ffffffba;
    padding: 8px;
    cursor: pointer;
}

.contestCreationForm_background {
    background: url(../images/beach.jpg) no-repeat center center fixed;
    background-size: cover;
    padding: 100px;
}

.categoryStatus_container {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.contest_form {
    display: block;
    width: 50%;
}

.titleCategoryStatus_flex {
    display: flex;
    justify-content: space-between;
}

.createContestTitle_container {
    display: flex;
    align-items: center;
}

.createContestRow_container {
    display: flex;
    align-items: center;
}

.titleMargin_container {
    margin-right: 10px;
}

.passMargin_container {
    padding: 70px;
}

.createContestForm_width {
    width: 300px;
}

.newPass_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.newPassButton{
    margin-top: 45px;
}

.button--lightContestFormOrange {
    display: block;
    margin: 0 auto;
    line-height: 24px;
    background: #F8ECC7;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 6px 20px;
    text-transform: capitalize;
    font-family: cursive;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

.contest-image-preview {
    background: #ffffff70;
    width: 250px;
    height: 250px;
    margin: 0;
    border: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: lightgrey;
}

.createContestHeading_style {
    text-align: center;
    margin-bottom: 20px;
}

.resetPasswordHeading_style {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 70px;
}

.contestCover_img {
    max-height: 170px;
    width: 100%;
    height: 100%;
}

.oldContestPhotos {
    width: 920px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.oldContestPhotos_container {
    width: 33%;
    display: inline-block;
}

.square {
    border-radius: 10px;
}

.usernameLogin_container {
    margin-right: 20px;
}

.passwordLogin_container {
    margin-right: 23px;
}

.flex {
    display: flex;
}

#livesearch {
    margin-top: 3px;
}

.liveSearch_avatar {
    max-width: 42px;
    height: auto;
    margin-right: 13px;
}

.liveSearch_row {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.liveSearch_rank {
    background: #fc8b49;
    padding: 4px 11px;
    border-radius: 10px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    margin-left: 4px;
}

.liveSearch_container {
    width: 70%;
    box-sizing: border-box;
    border-radius: 10px;
    background: #fbf2f2e6;
    position: absolute;
    left: 0;
    top: 0;
}

.liveSearchOuter_container {
    position: relative;
}

.juryPreview_container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
    padding-left: 4px;
    padding-right: 4px;
    border-style: solid;
    border-width: 1px;
    margin-right: 5px;
    font-size: 12px;
    line-height: 1.84615385;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    border-color: transparent;
    background-color: #e1ecf4;
    color: #39739d;
    border-radius: 5px;
}

.removeJury_btn {
    margin-left: 4px;
    cursor: pointer;
}

#jury_container {
    align-items: center;
    margin-left: 20px;
}

.liveSearch_user_details {
    display: flex;
    align-items: center;
}

.forgottenPassword_background {
    background: url(../images/fish.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 1000px;
    width: auto;
    margin: 0 auto;
}

.forgottenPassword_input {
    width: 200px;
    height: 30px;
    background: #F8ECC7;
    border-radius: 10px;
    text-align: center;
    border: 1px solid;
    margin-left: 10px;
    margin-right: 50px;
}

.titleAndJury_container {
    display: flex;
    align-items: center;
}

.borderTenWithPadding {
    border-radius: 10px;
    padding: 5px;
}

.marginTenPx {
    margin-bottom: 10px;
}

.input-error-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: x-large;
}

#error404picture {
    width: 100%;
}

.contestPhoto_container {
    max-width: 1170px;
    margin: 143px auto 20px;
    display: flex;
    justify-content: center;
}

.contestImage_container {
    position: relative;
    width: 70%;
    margin-right: 50px;
}

.authorAndReview_container {
    width: 30%;
    border-radius: 10px;
    border: 1px solid white;
    padding: 15px;
}

.contestPhoto_preview {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.viewSinglePhoto-Author_container {
    width: 185px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.authorHardcodedText_container{
    width: 50px;
}

.border_bottom_whiteLine {
    border-bottom: 1px solid #ffffff75;
}

.titleContestPhoto {
    position: absolute;
    margin: 15px;
}

.backgroundContestPhotoPagePhoto_container {
    background: url("../images/pinkWall.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.imageAuthor_details {
    display: flex;
}

.imageAuthor_details .username {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 23px;
    margin: 0;
}

.imageAuthor_details .rank {
    text-transform: capitalize;
    margin: 6px 0;
    font-size: 17px;
}

.imageStory {
    font-size: 19px;
    margin-left: 20px;
    margin-top: 20px;
}

.line {
    border-bottom: 2px solid #000;
    margin: 20px 0;
}

.authorAndReview_container .flex {
    justify-content: space-between;
}

.authorAndReview_container .button--lightContestFormOrange {
    padding: 10px;
    line-height: normal;
    margin: 0;
}

.starsAndStory {
    display: flex;
    margin-top: 7px;
    margin-bottom: 2px;
}

.starImg_container {
    width: 23px;
    height: auto;
}

.review_container {
    margin: 20px 0;
}

.rate {
    float: left;

    height: 46px;
    padding: 13px 0 0;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}


.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.giveReviewForm_container {
    background: #fff;
    color: #303b46;
    flex-flow: row wrap;
    padding: 0;
    width: 600px;
    box-sizing: border-box;
    padding: 10px 60px 20px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 531px;
    z-index: 10000;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

.giveReviewForm_container h3 {
    text-align: center;
}

.giveReviewForm_container h2 {
    margin-bottom: 25px;
}

.review_label {
    display: block;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.invalidCategory_checkbox:checked + .slider {
    background-color: #2196F3;
}

.invalidCategory_checkbox:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.invalidCategory_checkbox:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.invalidCategory_row {
    display: flex;
    align-items: center;
    margin: 23px 0;
}

.invalidCategory_row label {
    margin-right: 10px;
}

.review_comment {
    width: 100%;
    height: 95px;
    background: rgba(196, 196, 196, 0.6);
    border-radius: 10px;
    padding: 7px;
}

.reviewComment_container {
    position: relative;
}

.reviewComment_container label {
    margin-bottom: 5px;
}

.reviewForm_submit {
    width: 137px;
    background: #C4C4C4;
    border-radius: 10px;
    font-size: 19px;
    text-transform: capitalize;
    margin: 10px 0;
    float: right;
}

.scoring_row {
    display: block;
    padding-bottom: 61px;
}

/* users */
.main_container_users {
    margin: 10px auto;
    max-width: 1264px;
}


.main_title {
    padding-bottom: 30px;
    text-align: center
}

.usersFilter_toolbar {
    width: 770px;
    margin: 0 auto;
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.button--orange {
    font-weight: 400;
    line-height: 24px;
    background: #E6AF5E;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 10px;
    padding: 2px 12px;
    text-transform: capitalize;
    font-family: cursive;
    color: #fff;
    text-shadow: 0 0 2px #000;
    cursor: pointer;
}

.toolbar_button {
    margin-left: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 12px;
    margin-top: 30px;
}

.user_details {
    margin-left: 9px;
    width: calc(100% - 64px);
    line-height: 1.3;
    float: left;
}


/* browse users styling */
.searchAndSort {
}

.table {
    padding-top: 15px;
    padding-left: 20px;
    width: 100%;
    float: left;
}


.usersListing_container {
    display: flex;
}

.usersListing_container select {
    border-radius: 10px;
    padding: 10px;
}

.formOverAllHeading h1 {
    text-align: center;
}

.browseUsers_page {
    background: url("../images/white-wall.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

/* score range slider */

.formBox {
    max-width: 70%;
    margin: 45px auto 0;
}

.formBox_row {
    margin-bottom: 20px;
}

.form-label {
    margin-bottom: 0 !important;
}

.container--flex {
    display: flex;
    justify-content: space-between;
}

.score_filter {
    width: 45%;
}

#tableDiv {
    padding: 100px;
}

.userImg_navigationBar {
    position: relative;
    margin-right: 50px;
}

.userImg_navigationBar img {
    max-width: 32px;
    border-radius: 50%;
}

.userOptions_navigationBar {
    min-width: 100px;
    position: absolute;
    bottom: -68px;
    right: -29px;
    text-align: center;
    border: 1px solid #000;
    background: #ffffff;
    border-radius: 10px;
}

.myProfile_button {
    display: block;
    border-bottom: 1px solid;
    padding: 5px;
}

.logout_button {
    display: block;
    padding: 5px;
}

.navigation_item {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: #000;
}

#loggedUser_dropDown a:hover {
    background: #000;
    color: #fff;
}

.home-page {
    background-color: #000;
}

/*.homePage_containers .dashboardSlider_container {*/
/*    display: block;*/
/*    width: 75%;*/
/*    margin: 0 auto;*/
/*}*/

.homePage_containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 44px 0;
}

.topRatedPhotos_container {
    max-width: 75%;
    margin: 0 auto 30px;
}

.topRatedPhotos_container h2 {
    color: #fff;
}

.homePage_slider {
    max-width: 75%;
    margin: 44px auto;
}

.filter_selector {
    font-weight: 400;
    line-height: 24px;
    background: #c86f6fcc;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 10px;
    padding: 2px 12px;
    text-transform: capitalize;
    font-family: cursive;
    color: #fff;
    text-shadow: 0 0 2px #000;
    cursor: pointer;
}

.filter_selector_button {
    font-weight: 400;
    line-height: 24px;
    background: #e34444;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 10px;
    padding: 2px 12px;
    text-transform: capitalize;
    font-family: cursive;
    color: #fff;
    text-shadow: 0 0 2px #000;
    cursor: pointer;
}

.contestFilter_checkbox {
    display: block;
}


.allContestsMain_container {
    max-width: 1156px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.contests_filter {
    display: inline-block;
    width: 25%;
}

.filteredContests_container {
    width: 75%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filtered_contest {
    width: 49%;
    margin-bottom: 15px;
    display: inline-block;
    overflow: hidden;
    max-height: 390px;
}

.filtered_contest img {
    width: 100%;
}

.allContestsExplore_button {
    display: inline-block;
}

.contestFilter_group {
    margin-bottom: 20px;
}

.contestFilter_group p {
    border-width: 4px 0 4px 4px;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
}

.contestFilter_group p:before {
    content: "\25BC";
}

.contestFilter_checkbox {
    display: block;
    padding: 4px 0 4px 7px;
    color: #000;
    cursor: pointer;
    line-height: 18px;
    font-size: 12px;
}

.contests_filter input[type="radio"] {
    appearance: none;
    border: 1px solid #d3d3d3;
    width: 11px;
    height: 11px;
    content: none;
    outline: none;
    margin-left: 7px;
}

.contests_filter input[type="radio"]:checked {
    appearance: none;
    outline: none;
    padding: 0;
    content: none;
    background: #000;
    border: 2px solid #b0aaaa;
}

/*input[type="radio"]:checked::before{*/
/*    color: #000 !important;*/
/*    content: "\2022" !important;*/
/*    font-weight: bolder;*/
/*    font-size: 21px;*/
/*}*/

.filterTitle_input {
    border-radius: 5px;
    padding: 4px;
}

.filter_button {
    padding: 8px 23px;
    background: #000;
    color: #fff;
    letter-spacing: 1px;
}

.filters_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 200px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 11px;
    margin-bottom: 20px;
}

.filters_header h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

.filters_header a {
    font-size: 12px;
    color: #000;
    text-align: right;
    font-weight: 700;
}

.filteredContests_container {
    display: flex;
    padding: 2px;
    transition: .3s;
}

.filtered_contest:hover .filterContest_image {
    filter: grayscale(1);
    transform: scale(1.1);
}

.gallery {
    padding: 2px;
    transition: 0.3s;
    margin-left: 35px;
    height: fit-content;
}

.gallery:hover .gallery__image {
    filter: grayscale(1);
}

.gallery__column {
    width: 100%;
    height: fit-content;
}

.gallery__link {
    width: 49%;
    display: inline-block;
    overflow: hidden;
    overflow: hidden;
    margin: 2px;
}

.gallery__link:hover .gallery__image {
    filter: grayscale(0);
}

.gallery__link:hover .gallery__caption {
    opacity: 1;
}

.gallery__thumb {
    position: relative;
    margin: 0;
}

.gallery__image {
    display: block;
    width: 100%;
    transition: 0.3s;
    max-height: 260px;
}

.gallery__image:hover {
    transform: scale(1.1);
}

.gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}


.forgottenPassword-container {
    width: 700px;
    height: auto;
    margin: 70px auto;
    padding-top: 70px;
}

.success_msg{
    display: block;
    color: crimson;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.email_password{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button--resetPassword {
    display: block;
    line-height: 24px;
    background: #F8ECC7;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 6px 20px;
    text-transform: capitalize;
    font-family: cursive;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

.userInfo_container {
    padding: 25px;
    display: flex;
    text-transform: capitalize;
    position: relative;
}

.profileImage_container {
    margin-right: 14px;
}

.controllers {
    text-transform: lowercase;
    font-size: 14px;
}
.user_controllers {
    position: absolute;
    bottom: 0px;
    right: 20px;
}

.user_img {
    border-radius: 50%;
    max-height: 100px;
}

.userProfile_container {
    margin-top: 70px;
}

.userStats_container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 20px 0;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    padding: 11px 0;
}

.userStats_label {
    font-weight: bold;
}

.profileHeader {
 text-align: center;
}

.user_profile_contestImg {
    height: 200px;
    width: auto;
}

.contestUser_container {
    display: flex;
    padding: 30px;
    align-items: center;
}

.contestUser_container div {
    margin: 15px;
}

.usersProfile_page {
    background: url("../images/photograph.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.registration_body {
    overflow-x: hidden;
}

#the-count {
    position: absolute;
    bottom: 4px;
    right: 0px;
    font-size: 0.875rem;
}

#invitedUsers_container {
    align-items: center;
    margin-left: 20px;
}

.deleteButton_contestPhoto {
    margin: 27px auto 0;
    display: block;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    background: crimson;
    max-width: 200px;
    border-radius: 10px;
    color: white;
    text-transform: capitalize;
}

.backButton_contestPhoto {
    margin: 27px auto 0;
    display: block;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    background: #E6AF5E;
    max-width: 200px;
    border-radius: 10px;
    color: white;
    text-transform: capitalize;
}

.notifications {
    position: absolute;
    right: 1px;
    top: 1px;
    max-width: 300px;
    z-index: 2;
}

.notification_container {
    background: #000000a8;
    color: #fff;
    color: #fff;
    border-radius: 10px;
    padding: 14px;
    position: relative;
    margin-bottom: 5px;
}

.notification_container h3 {
    color: #e8c480;
    font-size: 17px;
    margin: 3px 0 12px;
}

.notification_container p {
    margin: 0;
}

.dashboard {
    height: fit-content;
}

.notification_button {
    background: #fff;
    color: #000;
    padding: 5px;
    width: 82px;
    display: block;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    margin: 15px auto 0;
    border-radius: 10px;
}

.registerPage_container {
    margin-top: 100px;
}

.centeredCategory_name {
    text-align: center;
}

.facebookButton_container {
    width: fit-content;
    margin: 0 auto;
}

.email_activation {
    text-align: center;
    text-decoration: underline;
}

/*Google button*/
@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.google-btn {
    display: block;
    margin: 20px auto 0;
    width: 184px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
}
.google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}
.google-btn .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}
.google-btn .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}
.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
    background: #1669f2;
}
